
.background{
	background-color: #F1F1F1;
}

.cover-section{
	display: block;
	height: 370px;
	background-position: center center;
	//padding-left: 20px;
	padding-top: 20px;
	transition: all 1s;
}

.picture-btn{
	visibility: hidden;
	margin-left: 40px;
	height: 35px;
	width: 130px;
	color: #F7F7F7;
	font-size: 18px;
	outline: none;
	border: solid 1px rgba(0, 0, 0, 0.6);
	font-family: "Acme";
	background-color: rgba(0, 0, 0, 0.5);
	transition: all 1s;
}

.picture-btn:hover{
	border: solid 1px rgba(0, 0, 0, 0.8);
	background-color: rgba(0, 0, 0, 0.7);
}

.cover-section:hover .picture-btn{
	visibility: visible;
}

.course-name-bar{
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	margin-top: 249px;
	padding: 10px 30px;
}

.course-name{
	margin: 0px !important;
	color: #FFFFFF;
	font-size: 42px;
	font-family: "Bree Serif";
	-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

.course-menu-section{
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 20px;
	padding-bottom: 0px !important;
	border-bottom: solid #17AFCA 8px;
}

.menu-item{
	display: inline-block;
	font-size: 24px;
	width: 180px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "Bitter";
	transition: 0.7s all;
}

.menu-item:link{
	text-decoration: none;
}

.menu-item:hover{
	text-decoration: none;
	color: #F3F3F3;
}

.active-item{
	background-color: #17AFCA;
	color: #F3F3F3;
}

.disable-item{
	background-color: #E2E2E2;
	color: #585858;
}

.disable-item:hover{
	background-color: #D1D1D1;
	color: #4F4F4F;
}

.post-container{
	margin: 20px 0px 10px 35px;
	width: 1070px;
	background-color: #DDDDDD;
}

.author-section{
	width: 220px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.description-section{
	width: 850px;
	min-height: 188px;
	background-color: #CFCFCF;
	padding: 20px 15px;
}

.img-container{
	height: 60px;
	width: 60px;
	background-color: #D3E3E7;
	overflow: hidden;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img-container img{
	height: 60px;
	width: 100%;
}

.author-name{
	margin: 10px 5px 0px 0px;
	font-size: 19px;
	color: #202020;
	font-family: "Roboto Slab"
}

.author-section h5{
	margin: 8px 0px 0px 0px;
	color: #494949;
	font-size: 15px;
	font-family: "Acme"
}

.date{
	margin-top: 3px;
	color: #393838;
	font-size: 15px;
	font-family: "Open Sans";
}

.description{
	font-size: 18px;
	font-family: "Bree Serif";
	color: #2A2A2A;
}

.download-btn{
	text-decoration: underline;
	color: #232323;
	font-size: 16px;
	font-family: "Bitter";
	transition: 0.6s all;
}

.post-form-container{
	margin: 30px 0px 10px 35px;
	background-color: #C9C9C9;
	min-height: 150px;
	width: 1070px;
	padding: 10px 10px 10px 10px;
}

.post-form-container form{
	margin-bottom: 0px;
}

.form-item{
	margin: 5px 0px;
	font-family: "Acme"
}

.post-description{
	width: 100%;
	padding: 5px;
	font-size: 18px;
	font-family: "Bree Serif";
	color: #2A2A2A;
}
/*
.post-submit-btn{
	width: 100px;
	height: 40px;
	border: none;
	background-color: rgba(0, 0, 0, 0.6);
}
*/

